version: '3.9'

volumes:
  mysql_data: {}

services:
  mysql:
    image: mysql:8.2
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: admin
    volumes:
      - mysql_data:/var/lib/mysql:Z
    ports:
      - "3307:3306"
    command: --default-authentication-plugin=mysql_native_password
